.kod-search-form{
    padding: 10px;
}

.kod-search-form h3{
    margin: 0px !important;
}

.kod-search-form h4{
    padding-left: 20px !important;
    margin-top: 10px !important;
}

.kod-search-form fieldset{
    margin-left: 30px;
}

.kod-search-form #kod-btn-search{
    width: 100%;
    margin: 10px 0px;
}

.kod-search-label{
    width: 180px !important;
    padding: 5px 5px 0 0 !important;
} 

.kod-include-common-panel-body{
    height: 575px;
}

.kod-include-common-panel-body iframe{
    border: 1px solid;
    height: 515px;
    width: 100%;
}

.kod-include-common-panel-body iframe{
    border: 1px solid;
    height: 515px;
    width: 100%;
}

.macro-input-fields{
    margin: 0;
    width: 45%;
    height: 100%;
    float: left;
    overflow-x: hidden;
}
